body {
    background-color: black;
    font-size: 18px;
}
h2 {
    color: whitesmoke;
    font-size: 50px;
}
h2#h2 {
    color: whitesmoke;
    font-size: 50px;
}
td input#cambios {
    text-decoration: none;
    background-color: green;
    color: whitesmoke;
    padding: 5px;
    border: green;
    border-radius: 10px;
}
strong#form h2 {
    color: black;
    font-size: 34px;
}
table {
    background-color: whitesmoke;
    background-color:whitesmoke;
    border-radius: 15px;
    padding: 6px;
    text-align: center;
}
table tr#header td {
    font-size: 24px;
    padding: 3px;
}
td a#editar {
    text-decoration: none;
    background-color: green;
    color: whitesmoke;
    padding: 5px;
    border: green;
    border-radius: 10px;
}
td a#eliminar {
    text-decoration: none;
    background-color: red;
    color: whitesmoke;
    padding: 5px;
    border: red;
    border-radius: 10px;
}
form{
    background-color:whitesmoke;
    border-radius: 15px;
    padding: 25px;
    width: 500px;
    font-size: 20px;
}
td input#reset {
    background-color: red;
    color: whitesmoke;
    padding: 5px;
    border: red;
    border-radius: 10px;
}
td input#enviar {
    background-color: green;
    color: whitesmoke;
    padding: 5px;
    border: green;
    border-radius: 10px;
}
button {
    background-color: grey;
    padding: 10px;
    border: 5px #2d0749a9;
    border-radius: 25px;
}
    button a{
        text-decoration: none;
        color: whitesmoke;
    }
        button:hover {
            background-color:orangered;
            color:#2d0749a9;
            border-radius: 15px;
        }